/* Landing Container */
.landing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: transparent; /* Dark background color */
    color: #fff; /* Text color */
  }
  
  /* Landing Content */
  .landing-content {
    text-align: center;
    background-color: transparent;
  }
  
  /* Options */
  .options {
    margin-top: 30px;
  }
  
  /* Enter Library Link */
  .home-but {
    display: inline-block;
    margin: 0 20px;
    padding: 15px 30px;
    border: 2px solid #17a2b8; 
    border-radius: 8px;
    font-size: 24px;
    text-decoration: none;
    color: #fff; 
    background-color: #343a40;
    transition: background-color 0.3s ease;
  }
  
  .home-but {
    background-color: #117a8b; /* Hover background color */
    cursor: pointer;
  }
  
  /* Icons */
  .enter-library i, .admin i {
    margin-right: 10px;
    background-color: #117a8b;
    color:black;
  }
  
  /* Background Image */
  .background-image {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('https://th.bing.com/th/id/OIP.YEftN4zVhytQfpC9KXKXQQHaE7?w=361&h=197&c=7&r=0&o=5&dpr=1.3&pid=1.7'); /* Replace with your background image */
    background-size: cover;
    opacity: 0.2; /* Adjust opacity as needed */
  }
  